.catalog {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 130px 150px;
}

.catalog-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalog-filter {
    display: flex;
    justify-content: center;
}